@model CategoryListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Category Update</h1>

<form asp-controller="Category" asp-action="Update">
    Category Id: <input asp-for="@Model.Category.CategoryId" /><br />
    Category Name: <input asp-for=@Model.Category.CategoryName /><br />
    <button class="alert-warning" type="submit">Update</button>
</form>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
